<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- head 내용 생략 -->
</head>
<body>
    <h1 class="mt-4">비밀번호 확인 페이지</h1>
    
    <form action="/board/checkPassword" method="post">
        <div class="form-group">
            <input type="hidden" name="bno" th:value="${bno}">
            <label for="secretPassword">비밀번호</label>
            <input type="password" class="form-control" id="secretPassword" name="secretPassword" required>
        </div>
        <button type="submit" class="btn btn-primary">확인</button>
    </form>
</body>
</html>
