<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <title>메일 발송</title>
</head>
<body>
    <div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <h4><span class="glyphicon glyphicon-lock"></span> 비밀번호 찾기</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <div style="color: #ac2925">
                        <center>입력된 정보로 임시 비밀번호가 전송됩니다.</center>
                    </div>
                    <hr>
                    <form role="form" method="post" action="/findPw">
                        <div class="form-group">
                            <label for="userEmail"><span class="glyphicon glyphicon-user"></span>email</label>
                            <input type="text" class="form-control" id="userEmail" name ="userEmail" placeholder="가입시 등록한 이메일을 입력하세요.">
                        </div>
                        <div class="form-group">
                            <label for="userName"><span class="glyphicon glyphicon-eye-open"></span> name</label>
                            <input type="text" class="form-control" id="userName" name ="userName" placeholder="가입시 등록한 이름을 입력하세요.">
                        </div>
                        <button type="submit" class="btn btn-success btn-block" id="checkEmail">OK</button>
                    </form>
                    <hr>
                    <div class="text-center small mt-2" id="checkMsg" style="color: red"></div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span
                            class="glyphicon glyphicon-remove"></span> Cancel
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
<script th:inline="javascript">
    /* Thymeleaf 변수를 JavaScript 변수로 가져오기 */
    var message = /*[[${param.message}]]*/ '';
    
    $(document).ready(function() {
        // 로그인 성공 또는 실패 메시지를 가져와서 표시
        console.log('message 변수 값:', message[0]); // 변수 값을 로깅
        if (message[0] === '이메일전송') {
            console.log(message[0]);
            alert("등록하신 이메일로 임시비밀번호를 전송했습니다.");
        } else if(message[0] === '이메일전송실패') {
            console.log(message[0]);
            alert("등록하신 이메일로 임시비밀번호를 전송을 실패했습니다.");
        }
    });
    </script>


</body>
</html>