<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Online Store</title>
<style>
/* 그리드 스타일 설정 */
ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* 한 줄에 3개의 열로 정렬 */
	grid-gap: 20px; /* 열 간격 설정 */
	list-style: none;
}

li {
	border: 1px solid #ccc;
	padding: 10px;
	text-align: center;
}
/* 제품 스타일 설정 */
.product {
	border: 1px solid #ccc;
	padding: 10px;
	text-align: center;
}

.product img {
	max-width: 100%;
	height: auto;
}
</style>
</head>
<body>
	<div th:replace="${dto.provider == '일반가입' ? 'header2.html' : 'header3.html'}"></div>
	<h1>Online Store</h1>
	<p>Select a category:</p>
	<ul>
		<!-- 첫 번째 줄 -->
		<li>
		<div class="product">
			<img src="" alt="Product1">
			<h2>Product 1</h2>
			<p>Price: $10.99</p>
		</div>
		</li>
		<li>
		
		<div class="product">
			<img src="" alt="Product1">
			<h2>Product 1</h2>
			<p>Price: $10.99</p>
		</div>
		</li>
		
		<li>
		<div class="product">
			<img src="" alt="Product1">
			<h2>Product 1</h2>
			<p>Price: $10.99</p>
		</div>
		</li>
		
		<!-- 두 번째 줄 (제품 4, 5, 6) -->
		<li>
		<div class="product">
			<img src="" alt="Product1">
			<h2>Product 1</h2>
			<p>Price: $10.99</p>
		</div>
		</li>
		<li>
		
		<div class="product">
			<img src="" alt="Product1">
			<h2>Product 1</h2>
			<p>Price: $10.99</p>
		</div>
		</li>
		
		<li>
		<div class="product">
			<img src="" alt="Product1">
			<h2>Product 1</h2>
			<p>Price: $10.99</p>
		</div>
		</li>
		<!-- 세 번째 줄 (제품 7, 8, 9) -->
		<li>
		<div class="product">
			<img src="" alt="Product1">
			<h2>Product 1</h2>
			<p>Price: $10.99</p>
		</div>
		</li>
		<li>
		
		<div class="product">
			<img src="" alt="Product1">
			<h2>Product 1</h2>
			<p>Price: $10.99</p>
		</div>
		</li>
		
		<li>
		<div class="product">
			<img src="" alt="Product1">
			<h2>Product 1</h2>
			<p>Price: $10.99</p>
		</div>
		</li>
		<!-- 네 번째 줄 (제품 10, 11, 12) -->
		<li>
		<div class="product">
			<img src="" alt="Product1">
			<h2>Product 1</h2>
			<p>Price: $10.99</p>
		</div>
		</li>
		<li>
		
		<div class="product">
			<img src="" alt="Product1">
			<h2>Product 1</h2>
			<p>Price: $10.99</p>
		</div>
		</li>
		
		<li>
		<div class="product">
			<img src="" alt="Product1">
			<h2>Product 1</h2>
			<p>Price: $10.99</p>
		</div>
		</li>
		<!-- 다섯 번째 줄 (제품 13, 14, 15) -->
		<li>
		<div class="product">
			<img src="" alt="Product1">
			<h2>Product 1</h2>
			<p>Price: $10.99</p>
		</div>
		</li>
		<li>
		
		<div class="product">
			<img src="" alt="Product1">
			<h2>Product 1</h2>
			<p>Price: $10.99</p>
		</div>
		</li>
		
		<li>
		<div class="product">
			<img src="" alt="Product1">
			<h2>Product 1</h2>
			<p>Price: $10.99</p>
		</div>
		</li>
</body>
</html>
