<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Fashion Store - 로그인/회원가입</title>
  <!-- 부트스트랩 링크 등 필요한 스타일과 스크립트 링크를 추가해주세요 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <style>
    /* 테두리 스타일링 */
    .border-gray {
      border: 1px solid #ccc;
      padding: 20px;
      border-radius: 5px;
    }

    /* 글자 색상 변경 */
    .text-gray {
      color: #555;
    }
    .form-spacing {
      margin-top: 20px;
    }
    .form-margin {
      margin-top: 10px;
    }
    .btn-dark-accent{
      background-color: #343a40;
      border: #343a40;
      color: #fff;
    }
  </style>
</head>
<body>
<!-- 네비게이션 바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link small text-secondary" href="#">남성</a></li>
      <li class="nav-item"><a class="nav-link small text-secondary" href="#">여성</a></li>
      <li class="nav-item"><a class="nav-link small text-secondary" href="#">아동</a></li>
      <li class="nav-item"><a class="nav-link small text-secondary" href="#">매장 위치</a></li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link small text-secondary" href="#"><i class="fas fa-search"></i></a></li>
      <li class="nav-item"><a class="nav-link small text-secondary" href="#">브랜드 소개</a></li>
      <li class="nav-item"><a class="nav-link small text-secondary" href="slogin.html" target="_blank">로그인/회원가입</a></li>
      <li class="nav-item"><a class="nav-link small text-secondary" href="#">쇼핑백</a></li>
    </ul>
  </div>
</nav>


<div class="container mt-5">
  <div class="row justify-content-center">
    <!-- 로그인 폼 -->
    <div class="col-md-5 border-gray">
      <h3 class="text-center text-gray">로그인</h3>
      <form action="/login" method="post">
        <div class="form-group">
          <label for="loginEmail" class="text-gray">E-mail</label>
          <input type="email" class="form-control" id="loginEmail" name="loginEmail" required>
        </div>
        <div class="form-group">
          <label for="loginPassword" class="text-gray">Password</label>
          <input type="password" class="form-control" id="loginPassword" name="loginPassword" required>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="autoLogin">
          <label class="form-check-label text-gray" for="autoLogin">자동 로그인</label>
        </div>
        <button type="submit" class="btn btn-dark-accent btn-block mt-3">로그인</button>
        <button type="submit" class="btn btn-dark-accent btn-block mt-2"> 카카오 로그인 </button>
        <button type="submit" class="btn btn-dark-accent btn-block mt-2"> 구글 로그인</button>
        <button type="submit" class="btn btn-dark-accent btn-block mt-2"> 네이버 로그인</button>
      </form>
      <div class="text-center form-margin">
        <a href="#" class="text-secondary">비밀번호를 잊으셨나요?</a>
      </div>
    </div>

    <!-- 신규 회원 가입 폼 -->
    <div class="col-md-1"></div>
    <div class="col-md-5 border-gray">
      <h3 class="text-center text-gray">신규 회원 가입</h3>
      <form action="/signup" method="post">
        <div class="form-group">
          <label for="signupName" class="text-gray">이름</label>
          <input type="text" class="form-control" id="signupName" name="name" required>
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-inline" id="maleGender" name="gender" value="male">
          <label class="form-check-inline text-gray" for="maleGender">남성</label>
          <input type="radio" class="form-check-inline" id="femaleGender" name="gender" value="female">
          <label class="form-check-inline text-gray" for="maleGender">여성</label>
        </div>
        <div class="form-group">
          <label for="signupEmail" class="text-gray">E-mail</label>
          <input type="email" class="form-control" id="signupEmail" name="email" required>
        </div>
        <div class="form-group">
          <label for="signupPassword" class="text-gray">Password</label>
          <input type="password" class="form-control" id="signupPassword" name="password" required>
        </div>
        <div class="form-group">
          <label for="confirmPassword" class="text-gray">비밀번호 확인</label>
          <input type="password" class="form-control" id="confirmPassword" name="cpassword" required>
        </div>
        <div class="form-check form-spacing">
          <input type="checkbox" class="form-check-input" id="newsletterCheckbox" name="nc">
          <label class="form-check-label text-gray" for="newsletterCheckbox"> 이벤트와 뉴스레터를 이메일로 받아보시겠습니까?</label>
        </div>
        <button type="submit" class="btn btn-dark-accent btn-block mt-3">회원가입</button>
      </form>
    </div>
  </div>
</div>

<!-- 부트스트랩 스크립트 링크 -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
